<section class="about">
    <div class="about-container">
        <div class="about-image">
            <img src="/logo.png" alt="Imagen de Harry Potter">
        </div>

        <div class="about-text">
            <h2>Acerca de Nosotros</h2>
            <p>
                Somos una página de fans dedicada a subir información sobre Harry Potter. 
                Nuestra misión es compartir todo lo relacionado con el mundo mágico de Hogwarts, 
                desde personajes y hechizos hasta curiosidades  de los libros y películas. 
                ¡Únete a nuestra comunidad y vive la magia con nosotros!
            </p>
        </div>
    </div>
</section>